/* Define Amiri Font */
@font-face {
    font-family: 'Amiri';
    src: url('/Content/Fonts/Amiri,Tajawal/Amiri/Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('/Content/Fonts/Amiri,Tajawal/Amiri/Amiri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('/Content/Fonts/Amiri,Tajawal/Amiri/Amiri-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amiri';
    src: url('/Content/Fonts/Amiri,Tajawal/Amiri/Amiri-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Define Tajawal Font */
@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* Extra Light */
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/Content/Fonts/Amiri,Tajawal/Tajawal/Tajawal-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}
